* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.nav__btn {
  transition: all 300ms ease-in-out;
  position: absolute;
  z-index: 10;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav__btn > div {
  transition: all 300ms ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2px;
  width: 25px;
  background-color: black;
}
.nav__btn > div::before {
  transition: all 500ms ease-out;
  content: "";
  position: absolute;
  top: 10px;
  height: 2px;
  width: 25px;
  background-color: black;
}
.nav__btn > div::after {
  transition: all 500ms ease-out;
  content: "";
  position: absolute;
  bottom: 10px;
  height: 2px;
  width: 25px;
  background-color: black;
}
.nav__btn > div.open::before {
  background-color: white;
  transform: rotate(45deg);
  top: 0;
}
.nav__btn > div.open::after {
  background-color: white;
  transform: rotate(-45deg);
  bottom: 0;
}
.nav__btn.open {
  transform: translatex(250px);
}
.nav__btn.open:hover > div::before {
  background-color: rgba(255, 255, 255, 0.3);
}
.nav__btn.open:hover > div::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.nav__btn:hover > div {
  background-color: rgba(0, 0, 0, 0.5);
}
.nav__btn:hover > div::before {
  background-color: rgba(0, 0, 0, 0.5);
}
.nav__btn:hover > div::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav {
  transition: all 300ms ease-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #0f0f0f;
  z-index: 9;
}
.nav ul {
  list-style: none;
  padding: 2em;
}
.nav a {
  transition: all 300ms ease-in-out;
  display: block;
  padding: .6em 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  font-size: 22px;
  color: white;
  text-decoration: none;
}
.nav a:hover {
  color: rgba(255, 255, 255, 0.3);
}
.nav.open {
  width: 300px;
}

section {
  max-width: 400px;
  padding: 5em;
  margin: 0 auto;
}
